body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:35px;
    background-color: rgb(175, 94, 2);
    color: black;
}
  
header h1 {
    font-size: 350%;
}

header h1:hover{
    color:white;
}
  
nav ul {
    display: flex;
    justify-content:space-between;
    min-width: 300px;
    list-style: none;
}
  
nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    width: 5%;
    padding:10px;
}
  
nav a:hover {
    color: #fff;
}

.welcome{
    height:100px;
    text-align: right;
    margin-top: -45px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(175, 94, 2) 100%);  
}

.welcome article a{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color:black;
    margin-right:35px;
}

.welcome a:hover{
    color:white;
}

.aboutMe{
    width:100%;
    text-align: left;
    background:rgba(34,193,195,1);
}
.aboutMe article a{
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    color:black;
    margin-left:35px;
}

.aboutMe p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: black;
    background:rgba(34,193,195,1);
    width:40%;
    margin-left:8%;
}

.aboutMe a:hover{
    color:white;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color:#22c1c3;
    color: #fff;
  }

@media screen and (max-width: 768px) {
    header, main, .aboutMe, .welcome {
      display:block;
      text-align:center;
    }

    .welcome article a{
        margin-right:0px;
    }

    .aboutMe article a{
        margin-left:0px;
    }

    
}
